/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

     background-color: rgb(29, 29, 29);
}


/******************************************
/* LAYOUT
/*******************************************/

.textContainer {
     margin: auto;
}

#whatDo {
     margin: 0 auto;
     display: block;
     background-color: transparent;
     border: none;
     caret-color: rgb(151, 149, 149);
     color: rgb(151, 149, 149);;
}

#whatDo:focus {
     outline: none;
}
/******************************************
/* TYPOGRAPHY
/*******************************************/

h1{
     font-size: 100px;
     color: rgb(151, 149, 149);
     text-align: center;

}
#descriptorParagraph {
     color: rgb(151, 149, 149);
     text-align: center;
}

#textOutput {
     color: rgb(151, 149, 149);
}

#userInput {
     background-color: rgb(29, 29, 29);
     color: rgb(151, 149, 149);
     border: none;
}